[submodule "02_train_detector/COCO2YOLO"]
	path = 02_train_detector/COCO2YOLO
	url = https://github.com/alexmihalyk23/COCO2YOLO.git
[submodule "02_train_detector/yolov5"]
	path = 02_train_detector/yolov5
	url = https://github.com/ultralytics/yolov5.git
